{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    <section class="home-section">
        <h1 class="home-title">Bienvenue sur Sablier !</h1>
        <div class="home-container">
            <p class="home-subtitle">C'est LA plateforme incontournable dédiée aux passionnés de sabliers! Découvrez une collection unique rassemblant des pièces anciennes, contemporaines, artisanales ou design ABSOLUMENT PAS fictive! Rejoignez une communauté d’amateurs partageant conseils d’entretien, astuces pour dénicher des raretés et histoires fascinantes sur ces beaux instruments. <br> <br> Profitez d’un espace d’échange convivial, de guides d’authentification et de valorisation, et d’événements exclusifs. Explorez, collectionnez et partagez sabliers dans la gallerie. Quel que soit votre style, Sablier sublimera votre passion pour le temps en sable.</p>
            {# <p>{{HomeMessage}}</p>
            <p>{{dateAnniv}}</p>
            <p>{{pourcentage}}% de {{input}} = {{result.value}}</p> #}
            <div class="home-actions">
                <a href="{{path('gallerie')}}" class="btn-main">Voir les Sabliers</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{path('addPicture')}}" class="btn-secondary">Ajouter un sablier</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn-secondary">Se connecter</a>
                {% endif %}
            </div>
        </div>
        <h2>Les derniers ajouts de la communauté:</h2>
        <div class="cards">
            {% for latest in latests %}
                <div class="card">
                    <h2>{{ latest.nom }}</h2>
                    <p><strong>Ajouté par :</strong> {{ latest.user.username}}</p>
                    <p><strong>Description :</strong> {{ latest.description }}</p>
                    <div class="image">
                        <a class="img" href="{{ path('detail', {'picture': latest.id}) }}"><img src="{{ asset('uploads/images/' ~ latest.imageName) }}" alt="img"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
