{% extends 'base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block main %}

<section id="liste">
    <div class="gallerie-title">
        <h1>Notre Collection Communautaire</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{path('addPicture')}}" class="btn-secondary">Ajouter un sablier</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn-secondary">Se connecter</a>
        {% endif %}
    </div>
    <div class="cards">
    {% for picture in pictures %}
        <div class="card">
            <h2>{{ picture.nom }}</h2>
            <p><strong>Ajouté par :</strong> {{ picture.user.username}}</p>
            <p><strong>Description :</strong> {{ picture.description }}</p>
            {# <p><strong>Les tags :</strong>
                {% for tag in picture.tags %}
                    {{ topping.toppingType }}{% if not loop.last %}, {% endif %}
                {% else %}
                    Aucun
                {% endfor %} #}
            </p>
            <div class="image">
                <a class="img" href="{{path('detail',{'id': picture.id}) }}"><img src="{{ asset('uploads/images/' ~ picture.imageName) }}" alt="img"></a>
            </div>
            <div class="actions">
            {% if is_granted('ROLE_ADMIN') or (app.user and app.user.id == picture.user.id) %}
                <a class="modifier" href="{{ path('detail', { id: picture.id, edit: 1 }) }}">
                Modifier
                </a>

                <form
                action="{{ path('deletePicture', {'id': picture.id}) }}"
                method="post"
                onsubmit="return confirm('Confirmer la suppression?')"
                >
                <input type="hidden" name="_method" value="delete">
                <input
                    type="hidden"
                    name="_token"
                    value="{{ csrf_token('SUP' ~ picture.id) }}"
                >
                <input type="submit" value="Supprimer" class="supprimer">
                </form>
            {% endif %}
            </div>

        </div>
    {% endfor %}
    </div>
</section>

{% endblock %}
