{% extends 'base.html.twig' %}

{% block title %}Hello DetailController!{% endblock %}

{% block main %}
<section class="cards" id="detail">
<div class="card">
    <h2>{{ picture.nom }}</h2>
    <p><strong>Ajouté par :</strong> {{ picture.user.username}}</p>
    <p><strong>Description détaillée :</strong> {{ picture.description }}</p>
    <p><strong>Spécificité :</strong> {{ picture.description }}</p>
    <p><strong>Valeur estimée :</strong> {{ picture.description }}</p>
    <p><strong>Commentaires :</strong> {{ picture.description }}</p>
    <p><strong>Laisser un commentaire :</strong> {{ picture.description }}</p>
    <div class="image">
    <img src="{{ asset('uploads/images/' ~ picture.imageName) }}" alt="img">
</div>
</div>
</section>

{% endblock %}
