<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/>
<link
  href="https://fonts.googleapis.com/css2?
    family=Mulish:ital,wght@0,200..1000;1,200..1000&
    family=Nunito:ital,wght@0,200..1000;1,200..1000&
    family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&
    family=Roboto+Slab:wght@100..900&
    display=swap"
  rel="stylesheet"
/>

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
{% block nav %}
        <nav>
            <ul>
                <li><a href="{{path("home")}}">Accueil</a></li>
                <li><a href="{{path("gallerie")}}">Gallerie</a></li>
                <li><a href="{{path("contact")}}">Contact</a></li>

                {# Visible uniquement pour les utilisateurs non connectés #}
                {% if app.user is null %}
                    <li class="inscription"><a href="{{ path('inscription') }}">S'inscrire</a></li>
                {% endif %}

                {# Visible uniquement pour les utilisateurs connectés (tous rôles) #}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="connexion"><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li class="connexion"><a href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}

                {# Visible uniquement pour les admins #}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="dashboard"><a href="{{path('admin')}}">AdminDashboard</a></li>
                {% endif %}
            </ul>
        </nav>
{% endblock %}

        {% block main %}
        {% endblock %}

        {% block footer %}
        <footer class="site-footer">
            <div class="footer-content">
                <p>&copy; {{ "now"|date("Y") }} Sablier — Tous droits réservés.</p>
                <p>Vous pouvez nous contacter <a href="{{path('contact')}}">ici</a></p>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>
